<h1>Welcome The Example of NgIF else Then</h1>


<h2>Using Ngif</h2>
<input type="radio" name="rdbtn" (click)="Change_radio(true)">True
<input type="radio" name="rdbtn" (click)="Change_radio(false)">False

<!-- <div *ngIf="ISvalid ; else elseblock">
  THIS IS VALID DATA
</div>
<ng-template #elseblock>
  <div *ngIf="!ISvalid">
    THIS is not valid show with else block
  </div>
</ng-template> -->




<div *ngIf="ISvalid ;then thenblock else elseblock"></div>
  <ng-template #thenblock>
    <div *ngIf="ISvalid">
      THIS is valid show with then block
    </div>
  </ng-template>


<ng-template #elseblock>
  <div *ngIf="!ISvalid">
    THIS is not valid show with else block
  </div>
</ng-template>